* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
  font-weight: 300;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 350px) minmax(0, 1fr);
  grid-template-rows: 1fr min-content;
  grid-template-areas:
  " ... frm ... "
  " ... ftr ... ";
}

header {
  grid-area: hdr;
}

.frame {
  grid-area: frm;
  height: 80vh;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  /*box-shadow: 5px 10px #888888;*/

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4 em;
  grid-template-areas:
  " hero   "
  " text   "
  " access ";

  place-items: center;
}

.hero {
  grid-area: hero;
  width: 50%;
  align-self: end;
}

.hero_text {
  grid-area: text;
  width: 70%;
  height: 30vh;
  justify-self: center;
  align-self: start;
  justify-self: center;
}

.access {
  grid-area: access;
  align-self: start;
  justify-self: center;

  display: grid;
}

.access a {
  padding-top: 1em;
  font-size: .8em;
  text-align: center;
  cursor: pointer;
}

/*
.access img {
  margin: auto;
  color: black;
  background: transparent;
  height: 2.5em;
  width: 8em;
}
*/

input {
  height: 2.5em;
  width: 12em;
  outline: none;
  cursor: pointer;
}

.border_gradient {
  border: double 2px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(118,99, 175, 1), rgba(246, 117, 73, 1), rgba(223, 55, 90, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.email {
  width: 16em;
  cursor: text;
}

.indent {
  text-indent: 10px;
}

footer {
  grid-area: ftr;
  height: 10vh;
  width: 100%;

  display: grid;
  place-items: center center;
}
