* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
  font-weight: 300;ckground: #F3904F;
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
  background: linear-gradient(to right, #3B4371, #F3904F);
 /* background-size: cover;*/
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 1200px) minmax(0, 1fr);
  grid-template-rows: 1fr 60vh 1fr 1fr;
  grid-template-areas:
  " ... ... ... "
  " ... lgo ... "
  " ... lgn ... "
  " ... ftr ... ";
}

header {
  grid-area: hdr;
}

.hero {
  grid-area: lgo;
  height: 100%;
  width: 100%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.hero svg {
  margin-top: 10vh;
  justify-self: center;
  min-width: 100px;
  max-width: 300px;
}

.hero h2 {
  align-self: start;
  justify-self: center;
}

.access {
  grid-area: lgn;
  align-self: start;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  grid-gap: 1.2em;
  grid-template-areas:
  " l r ";
}

.login {
  grid-area: r;
}

.login a {
  vertical-align: top;
  line-height: 2em;
}

.login svg {
  grid-area: b;
  height: 2.1em;
}

.join {
  grid-area: l;
}

.join button {
  height: 2.1em;
  width: 6em;
  font-size: 1em;
}

form * {
  height: 2em;
  width: 15em;
  border: solid white;
  outline: none;
  display: none;
}

input {
  display: none;
}

button {
  color: white;
  background: transparent;
  height: 2.5em;
  width: 8em;
}

footer {
  grid-area: ftr;
  height: 100%;
  width: 100%;
  align-self: end;
  justify-self: end;

  display: grid;
  place-items: center end;
}
