* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
  font-weight: 300;ckground: #F3904F;
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
  background: linear-gradient(to right, #3B4371, #F3904F);
 /* background-size: cover;*/
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 1200px) minmax(0, 1fr);
  grid-template-rows: 1fr 60vh 1fr 1fr;
  grid-template-areas:
  " ... ... ... "
  " ... lgo ... "
  " ... acs ... "
  " ... ftr ... ";
}

header {
  grid-area: hdr;
}

.hero {
  grid-area: lgo;
  height: 100%;
  width: 100%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.hero svg {
  margin-top: 5vh;
  justify-self: center;
  min-width: 100px;
  max-width: 12rem;
}

.hero h2 {
  align-self: start;
  justify-self: center;
}

.access {
  grid-area: acs;
  align-self: start;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  grid-gap: 1.2em;
  grid-template-areas:
  " l r ";
}

#login {
  grid-area: r;
  cursor: pointer;
}

#login a {
  vertical-align: top;
  line-height: 2em;
}

#login svg {
  grid-area: b;
  height: 2.1em;
}

#login:hover #frame {
  stroke: #979797;
}

#join {
  grid-area: l;
}

#join button {
  height: 2.1em;
  width: 6em;
  font-size: 1em;
  cursor: pointer;
}

form {
  grid-area: acs;
  height: min-content;
  width: min-content;
  /* overflow: hidden;*/
  margin: auto;
  margin-top: 0;
  justify-self: top;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  " box ";
  
  visibility: hidden;
}

/* divs */
form div {
  grid-area: box;
/*  position: absolute;*/
  height: 2em;
  width: 15em;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  " input ";
}


.first {
  /*z-index: 1;*/
}

.second {
  /*z-index: 2;*/
  visibility: hidden;
  
  display: grid;
  grid-template-columns: 1f min-content;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-template-areas:
  " field button ";
}

form input {
  grid-area: input;
  height: 100%;
  width: 100%;
  justify-self: center;
  border: solid white;
  outline: none;
}

/* consolidate into single .second style */
.second {
  height: 2em;
}

.second input {
  grid-area: field;
  width: 15em; 
}

.second svg {
  grid-area: button;
  justify-self: center;
  height: 100%;
  cursor: pointer;
}

/*
#email, .passwd {
  visibility: hidden;
}
*/

/* deleted element, remove style?*/
button {
  color: white;
  background: transparent;
  height: 2.5em;
  width: 8em;
}

footer {
  grid-area: ftr;
  height: 100%;
  width: 100%;
  align-self: end;
  justify-self: end;

  display: grid;
  place-items: center end;
}
