* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
  font-weight: 300; 
background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-size: cover;*/
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 1200px) minmax(0, 1fr);
  grid-template-rows: 10vh 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  " ... header ... "
  " ... vision ... "
  " ...  tech  ... "
  " ...  team  ... "
  " ...  cntct ... "
  " ...   ftr  ... ";
}

header {
  grid-area: header;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-template-areas:
  " logo name ";
}

header svg {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  width: 3em;
  padding-left: .2em;
}

header h2 {
  grid-area: name;
  justify-self: start;
  align-self: center;
  font-size: 1.4em;
  font-weight: 200;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-gap: 10vh;
  grid-template-areas:
  " hero  "
  " title "
  " desc  ";
}

section svg {
  grid-area: hero;
}

section h2 {
  grid-area: title;
  margin: auto;
}

section p {
  grid-area: desc;
  margin: auto;
}

section:nth-of-type(1) {
  grid-area: vision;
}


section:nth-of-type(2) {
  grid-area: tech;
}


section:nth-of-type(3) {
  grid-area: team;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  " a  "
  " b "
  " c "
  " d ";
}

.contact {
  grid-area: cntct;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
  " title "
  " area  "
  " bttm  ";
}

.contact h2 {
  grid-area: title;
}

.contact textarea {
  grid-area: area;
  border: solid white;
  border-radius: 8px;
  max-width: 20em;
  min-width: 90vw;
  height: 25vh;
  margin: auto;
}

.contact button {
  grid-area: bttm;
  width: 7em;
  height: 2.5em;
  color: white;
  border: solid white;
  background: none;
  justify-self: end;
}

/* modify */
section:nth-of-type(3) h2 {
  grid-area: a;
  margin: auto;
}

.person:nth-of-type(1) {
  grid-area: b;
}


.person:nth-of-type(2) {
  grid-area: c;
}

.person:nth-of-type(3) {
  grid-area: d;
}

.person {
  display: grid;
  grid-template-columns:;
  grid-template-rows:;
  grid-template-areas:
  "  img  "
  "  name "
  " title "
  " desc  ";
}

.person svg {
  grid-area: img;
  height: 25vh;
}

.person h3 {
  grid-area: name;
}

.person h4 {
  grid-area: title;
}

.person p {
  grid-area: desc;
}

footer {
  grid-area: ftr;
  justify-self: center;
}

