* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
  font-weight: 300; 
  background: #F3904F;
  background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
  background: linear-gradient(to right, #3B4371, #F3904F);
 /* background-size: cover;*/
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 1200px) minmax(0, 1fr);
  grid-template-rows: 10vh 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  " ... header ... "
  " ... vision ... "
  " ...  tech  ... "
  " ...  team  ... "
  " ...  cntct ... "
  " ...   ftr  ... ";
}

header {
  grid-area: header;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-template-areas:
  " logo name ";
}

header svg {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  width: 3em;
  padding-left: .2em;
}

header h2 {
  grid-area: name;
  justify-self: start;
  align-self: center;
  font-size: 1.4em;
  font-weight: 200;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 10vh;
  grid-template-areas:
  " title "
  " desc  ";
}

section h2 {
  grid-area: title;
  margin: auto;
}

section p {
  grid-area: desc;
  margin: auto;
}

section:nth-of-type(1) {
  grid-area: vision;
}


section:nth-of-type(2) {
  grid-area: tech;
}


section:nth-of-type(3) {
  grid-area: team;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  " a  "
  " b "
  " c "
  " d ";
}

section:nth-of-type(4) {
  grid-area: cntct;
}

fieldset {
  border: 0;
}

textarea {
  border: solid white;
  border-radius: 8px;
}

/* modify */
section:nth-of-type(3) h2 {
  grid-area: a;
  margin: auto;
}

.person:nth-of-type(1) {
  grid-area: b;
}


.person:nth-of-type(2) {
  grid-area: c;
}

.person:nth-of-type(3) {
  grid-area: d;
}

.person {
  display: grid;
  grid-template-columns:;
  grid-template-rows:;
  grid-template-areas:
  "  img  "
  "  name "
  " title "
  " desc  ";
}

.person img {
  grid-area: img;
}

.person h3 {
  grid-area: name;
}

.person h4 {
  grid-area: title;
}

.person p {
  grid-area: desc;
}

footer {
  grid-area: ftr;
  justify-self: center;
}

